@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Edit @ViewBag.cheese.Name (ID = @ViewBag.cheese.CheeseId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label value="name" class="control-label"></label>
                <input value=@ViewBag.cheese.Name class="form-control" type="text" name="name"/>
            </div>
            <div class="form-group">
                <label value="Description" class="control-label" >Description</label>
                <input type="text" value=@ViewBag.cheese.Description class="form-control" name="description"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <input type="hidden" value="@ViewBag.cheese.CheeseId" name="cheeseId" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
